/*工程圈列表vant样式修改/*/
.list .van-tab {
  color: #000 !important;
}

.list .van-tabs__wrap {
  padding: 0 15px;
  background-color: #ffffff;
}

.list .van-tab--active {
  color: #3396fb !important;
}

/*工程圈详情样式修改/*/
.details img {
  width: 100%;
  height: auto;
}


/*选人组件样式调整*/
.tree .van-collapse-item__content {
  padding: 0 0 0 15px;
}

.tree .van-checkbox-group{
  font-size: 20px;
  color: #666666;
}
.tree .van-checkbox{
  display: flex;
  margin: 10px 0;
}
.tree .van-checkbox-group .van-checkbox__label{
  font-size: 18px;
}
.tree .van-collapse-item__title--expanded::after{
  visibility: hidden;
}


/*导航*/
.nav_bar .van-nav-bar .van-icon{
  color: #666;
}



